.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.searchBarInput {
    background-color: antiquewhite;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 240px;
    padding: 10px 20px;
}

.searchBarInput::placeholder {
    text-align: center;
}

.searchBarBtn {
    padding: 10px 22px;
    border: none;
    border-radius: 4px;
    background-color: var(--btn-color);
    cursor: pointer;
    transition: var(--btn-transition);
}

.searchBarBtn:hover,
.searchBarBtn:focus {
    box-shadow: var(--btn-hover-shadow);
    background-color: var(--btn-hover-color)
}