:root {
    --btn-color: rgb(255, 216, 164);
    --btn-hover-color: rgb(253, 207, 147);
    --btn-hover-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --btn-transition: box-shadow 250ms ease-in-out,
        background-color 250ms ease-in-out;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}